[submodule "HPC/HPCA"]
	path = HPC/HPCA
	url = https://github.com/ArthurZucker/HPCA.git
[submodule "Crypto/Crypto-TP"]
	path = Crypto/Crypto-TP
	url = https://github.com/ArthurZucker/Crypto-TP.git

[submodule "Visualisation"]
	path = Visualisation
	url = https://github.com/ArthurZucker/Visualisation.git


[submodule "IA/Project_Static_and_Dynamic_Hand_Gestures"]
	path = IA/Project_Static_and_Dynamic_Hand_Gestures
	url = https://github.com/clementapa/Project_Static_and_Dynamic_Hand_Gestures.git
